{% extends "app/layout.html" %}

<!DOCTYPE html>
{% load custom_tags %}

{% block script %}
    <link rel="icon" href="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png">
    <title>Fortune-Teller Cripton Market</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    
    <style media="screen">
      .container {
        margin-top: 100px;
      }
      table {
        margin-top: 50px;
      }
    </style>
    <script>
    $(function() {
        let options = {
            theme : 'bootstrap',
            headers: {
              '.nosort' : {
                sorter: false
                }
            }
        };
        $(".tablesorter").tablesorter(options);
    });
</script>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#"> <img src="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png" alt="" width="32"> </a>
    </nav>

    <main role="main" class="container">
       <div class="starter-template">
        <h1>Fortune-Teller Cripton Market</h1>
        <table class="table table-striped table-bordered-header tablesorter">
            <thead>
              <tr>
                <th class="nosort">#</th>
                    <th>Name</th>
                    <th>Market Cap</th>
                    <th class="nosort">Price</th>
                    <th class="nosort">Volume (24h)</th>
                    <th class="nosort">Circulating supply</th>
                    <th>Change (24h)</th>
              </tr>
            </thead>
            <tbody>
              {% for currency in response %}
              <tr>
                <td> {{ forloop.counter }}</td>
                  <td><img src="{{currency.id|iconimage}}" alt="" width="16"> {{ currency.name }} </td>
                  <td>{{ currency.quote.USD.market_cap| formatcurrency}}</td>
                  <td>
                      {% if currency.quote.USD.percent_change_24h < 0 %}
                        <span class="change-negative">
                      {% elif currency.quote.USD.percent_change_24h > 0 %}
                        <span class="change-positive">
                      {% endif %}
                            {{ currency.quote.USD.price| formatcurrency}}
                        </span>
                  </td>
                  <td>{{ currency.quote.USD.volume_24h| formatcurrency}}</td>
                  <td>{{ currency.circulating_supply| formatcurrency}}</td>
                  <td>
                    {% if currency.quote.USD.percent_change_24h < 0 %}
                      <span class="change-negative">
                    {% elif currency.quote.USD.percent_change_24h > 0 %}  
                      <span class="change-positive">
                    {% endif %}
                      {{ currency.quote.USD.percent_change_24h| percent}}
                      </span>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </main>
{% endblock %}

    
