{% extends "app/layout.html" %}
{% load custom_tags %}
{% block body %}
        <body class="background">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="#"> <img src="https://rmotr.com/static/favicons/apple-icon-60x60.c69b596ccabe.png" alt="" width="32"> </a>
        </nav>
    <div>
      <div class="starter-template">
          <div class="color">
           <div class="img">
            <img class = "image1" src="../../static/app/FortuneTellerLogo.png" alt="FortuneTeller Logo"/>
           </div>
           <div class="title">
               <h1>Fortune Teller</h1></div>
          </div>
          </div>
        </div>
        <div>
            </div>
        </body>
        <h1 class="watchlist"> Your Watchlist</h1>

{% endblock %}
