name: CD by Rachel Wallace

on:
  workflow_run:
    workflows:
      - CI by Rachel Wallace
    types:
      - completed
  push:
    branches:
      - main
  pull_request:
    types: [closed]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Pull and run migrations
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /root/vuca-nators/
            pip install -r requirements.txt
            cd /root/vuca-nators/fortuneteller
            git pull
            python3 manage.py migrate
  deploy:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        python-version: [ 3.7 ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Kill old app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            ls -la
            cd /root/vuca-nators/fortuneteller
            ps -ef | grep 'python' | grep -v grep | awk '{print $2}' | xargs -r kill -9
      - name: Run new app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /root/vuca-nators/fortuneteller
            nohup python3 -u manage.py runserver 0.0.0.0:8080 > /dev/null 2>&1 &
